@page
@model PostIT_WebApp.Pages.PostItNote.DetailsModel

<style>
    .container {
        max-width: 600px;
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .note-info {
        display: flex;
        flex-wrap: wrap;
    }

    .note-info dt {
        width: 120px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .note-info dd {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .note-image {
        max-width: 100%;
    }

    .btn {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.2s ease-in-out;
    }

    .btn:hover {
        background-color: #0069d9;
    }
</style>

<div class="container">
    <h1>Note Details</h1>
    <div class="note-info">
        <dl>
            <dt>Title</dt>
            <dd>@Model.Note.Title</dd>
            <dt>Category</dt>
            <dd>@Model.Note.Category</dd>
            <dt>Text</dt>
            <dd>@Model.Note.Text</dd>
             @if(Model.Note.Image.Data != null)
            {
                <dt>Image</dt>
                <dd><img class="note-image" src="data:image/png;base64,@Model.Note.Image.Data" alt="Note Image"/></dd>
            }
        </dl>
    </div>
    <a class="btn" asp-page="./MyNotesPage">Back to List</a>
</div>
