@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron jumbotron-fluid text-center" style="background-color: #C1CDC1;">
    <div class="container">
        <h1 class="display-3 font-weight-bold">Welcome to PostIT</h1>
        <p class="lead mb-5">The ultimate tool for note taking and organization</p>
        <a href="/Account/LoginPage2" class="btn btn-lg btn-outline-primary mb-2">Login</a>
        <a href="/Account/RegisterPage" class="btn btn-lg btn-outline-secondary mb-2">Register</a>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Why Choose PostIT?</h2>
            <p class="lead mt-3">
                PostIT_WebApp is the perfect tool for keeping track of all your notes and ideas in one place. With our intuitive interface and powerful features, you can easily create, edit, and organize all your notes with ease.
            </p>
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-md-4" style="background-color: #E6E6FA;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Easy to Use</h5>
                    <p class="card-text">Our simple and intuitive interface makes it easy to create and manage all your notes with just a few clicks.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="background-color: #E0FFFF;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Powerful</h5>
                    <p class="card-text">Our powerful features allow you to customize your notes and keep track of all your ideas in one place.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="background-color: #F0E68C;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Flexible</h5>
                    <p class="card-text">With our flexible interface, you can easily organize your notes by category, date, or any other way you choose.</p>
                </div>
            </div>
        </div>
    </div>
</div>
