@page
@model PostIT_WebApp.Pages.Account.LoginPage2Model
@{
    ViewData["Title"] = "Login";
}



<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Login to PostIT</h3>
                    <form method="post">
                        <div class="form-group">
                            <input asp-for="@Model.UserName" placeholder="Username" type="text" class="form-control form-control-lg" />
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.Password" placeholder="Password" type="password" class="form-control form-control-lg" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
